<mat-nav-list>
  <input matInput type="text" [(ngModel)]="searchValue" (ngModelChange)="filterRecipes()">
  <mat-list>
    <mat-list-item *ngFor="let recipe of filteredRecipes">
      <a class="recipe-list-item"
         [routerLink]="['/recipe-details', recipe._id]">
        <p>{{ recipe.name }}</p>
      </a>
      <button [routerLink]="['/recipe-editor', recipe._id]"
              mat-icon-button color="accent"><mat-icon>edit</mat-icon></button>
      <button (click)="onDeleteRecipe(recipe._id)"
              mat-icon-button color="warn"><mat-icon>remove_circle</mat-icon></button>
    </mat-list-item>
  </mat-list>
  <div class="example-button-container">
    <button [routerLink]="['/recipe-editor']" mat-fab aria-label="Add recipe button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-nav-list>
